.AccountFormContainer {
    width: 414px;
    margin: 102px auto;
    overflow: auto;
}

.AccountForm {
    background-color: #f2f4f7;
}

form.AccountForm ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px 43px 0px; 
}

form.AccountForm li {
    overflow: auto;
    box-sizing: border-box;
    width: 256px;
    margin: 33px auto 0px;
    padding: 0px;
}

form.AccountForm input {
    border: none;
    float: right;
    margin-top: 1px;
    width: 158px;
}

form.AccountForm label {
    float: left;
    font-weight: bold;
}

form.AccountForm button {
    margin: 0px auto;
    display: block;
}

.RecoverPasswordBtn {
    background-color: #f7f9fc;
    display: inline-block;
    font-weight: bold;
    margin-top: 7px;
    padding: 3px 8px 5px 8px;
    float: right;
    font-size: 12px;
}

.RecoverPasswordBtn:hover {
    background-color: #e1e3e5;
    cursor: pointer;
}

.AccountFormContainer h2 {
    text-align: center;
    margin-top: -9px;
}

.CreateAccountFormBtns button {
    width: 108px;
    padding: 3px 0px 2px;
    float: left;
}

.CreateAccountFormBtns button:last-child {
    float: right;
}