.TwitterAccount {
    display: inline-block;
}

    .TwitterAccount h3, .TwitterAccount select {
        color: black;
        float: left;
        margin: 0px;
    }

    .TwitterAccount select {
        font-size: 16px;
        margin-top: 3px;
        margin-left: 4px;
        border: 2px solid black;
    }
